.dashboard-card{
    border-radius: 5px;
    margin: 1em 0.5em !important;
    padding: 1.4em 0.5em !important;
}

.dashboard-card i{
    font-size: 4em;
}

.dashboard-card .secondary{
    font-size: 1.2em !important;
    margin-left: -30px;
    background: #fff;
    color: #000;
    padding: 3px 1px;
    border-radius: 50%;
    width: 1.4em;
}
