span.text-danger{
    font-size: 0.9em;
}

.actions{
    min-width: 120px;
}

#loading{
    width: 50px;
    margin: 20px 10px;
}

.error {
    color: black !important;
    font-size: 1em !important;
    position: relative !important;
    width: 100% !important;
}
