.select2-selection{
    border: 1px solid #d1d3e2 !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    color:#6e707e;
    background-color:#fff;
    border-color:#bac8f3;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(78,115,223,.25)
}

.select2-container .select2-selection--single{
    padding: 4px !important;
    height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e707e;
}


.exam-attributes{
    margin-bottom: 5px;
}

.trumbowyg-box,
.trumbowyg-editor {
    min-height: 100px;
}

.trumbowyg-editor p{
    margin-bottom: 9px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

.add_q_answer, .rm_q_answer{
    margin-top: 1em;
}

.alternative_option{
    cursor: pointer;
}

.description_question{
    min-width: 90%;
    padding: 0.5rem!important;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.description_question p{
    margin-bottom:  0;
}
.questionImg{
    height:100px;
    max-width: 100px;
}

.questionNumber{
    font-weight: bold;
    margin-bottom: 0;
}

span.error{
    font-size: 0.9em !important;
    color: #e74a3b!important;
}

#questoes-tab{
    cursor: pointer;
}
